
/* .activeLink{
    color: hsl(112,43%,55%) !important;
     border: 1px solid hsl(112,43%,55%) !important;
     font-weight: 700 !important;
    
} */
/* .menu li>*:not(ul,.menu-title,details,.btn):active, .menu li>*:not(ul,.menu-title,details,.btn).active, .menu li>details>summary:active{
    color:hsl(112,43%,55%);
} */
.menu li a:active,
.menu li a:focus{
    color: hsl(112,43%,55%) !important;
}
